
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Dancing+Script:700|Bree+Serif' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="http://jpp.no-ip.org/semantic/packaged/css/semantic.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://jpp.no-ip.org/semantic/packaged/jsvascript/semantic.js"></script>

    <style type="text/css">
    html { 
      background: url(http://jpp.no-ip.org/steven.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

      #alf {
    color: green;
    font-family: 'Dancing Script', cursive;
    font-size:20px;}

    </style>
</head>

<body>

  <div class="ui inverted red segment">
  <p>ALF Stock System uses grs' TWStock Server to get the stock price. This Error page indicates the failure of TWStock server Error or Your Typo.</p>
  <div class="ui inverted divider"></div>
  <p>For stock server error, retry after a while. <br><br>For typo, input right stock number.</p>
</div>

</body>
</html>