<html>
  <head>
    <title>Help</title>
    <link href='http://fonts.googleapis.com/css?family=Dancing+Script:700|Bree+Serif' rel='stylesheet' type='text/css'>


    <style type="text/css">

    body {
        color: white;
        font-family: 'Bree Serif', cursive;
        }
    </style>

  </head>
  <body>
    
Quick Start<br>
=======<br>
<br>
Search<br>
-------<br>
<br>
* Enter the stock id<br>
* Click the search icon<br>
<br>
Buy Signals<br>
----------<br>
<br>
* List all the stocks (the subset of All My Fav) with buy signal <br>

Sell Signals<br>
----------<br>
<br>
* List all the stocks transited from buy signal to sell signal<br>
<br>
All My Fav<br>
----------<br>
<br>
* List all stocks you like<br>
<br>


  </body>
</html>