
<html>
<head>
<link rel="stylesheet" type="text/css" href="http://59.127.185.55/semantic/packaged/css/semantic.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://59.127.185.55g/semantic/packaged/jsvascript/semantic.js"></script>

    <style type="text/css">
    html { 
      background: url(http://jpp.no-ip.org/steven.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    </style>
</head>

<body>
 <form action="/alf" method="post">
<div class="ui two column grid">
   <div class="column">
    <div class="ui fluid form segment">
      <h3 class="ui header">Log-in</h3>
      <div class="field">
        <label>Username</label>
        <input name = "Username" placeholder="alf" type="text">
      </div>
      <div class="field">
        <label>Password</label>
        <input name = "password" type="password">
      </div>

       <input class="ui blue submit button" type=submit value=Login>
    </div>
  </div>
</div>
</form>

<div class="ui active striped progress">
  <div class="bar" style="width: 70%;"></div>
</div>
<!--a class="ui black label" id="alf">
  First
</a>
<a class="ui green label">
  Fun
</a>
<a class="ui red label">
  Happy
</a>
<a class="ui blue label">
  Smart
</a>
<a class="ui orange label">
  Radical
</a>
<a class="ui purple label">
  Insane
</a>
<a class="ui teal label">
  Exciting
</a>

<script>
$( "a" ).click(function() {
  alert($(this).text());
  $( this ).slideUp();
  
});
</script-->




<!--                                                 -->


</body>
</html>