
<html>
<head>
<link rel="stylesheet" type="text/css" href="http://59.127.185.55/semantic/packaged/css/semantic.css">

  <script src="http://59.127.185.55/semantic/packaged/jsvascript/semantic.js"></script>

      <style type="text/css">
    html { 
      background: url(http://jpp.no-ip.org/gu.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    </style>
</head>

<body>

 <form action="/welcome" method="post">
<div class="ui two column grid">

  <div class="column">
    <div class="ui fluid form segment">
      <h3 class="ui header">Register</h3>

        <div class="field">
          <label>Nick Name</label>
          <input placeholder="Nick Name" type="text">
        </div>
        <div class="field">
          <label>E-Mail</label>
          <input placeholder="E-Mail" type="text">
        </div>

      <div class="field">
        <label>Username</label>
        <input name = "Username" placeholder="Username" type="text">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password">
      </div>
      <div class="inline field">
        <div class="ui checkbox">
          <input id="conditions" type="checkbox">
          <label for="conditions">I agree to the terms and conditions</label>
        </div>
      </div>
      
      <input class="ui blue submit button" type=submit value=Submit>
    </div>
  </div>
</div>

</form>

</body>
</html>