<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">  
<link href='http://fonts.googleapis.com/css?family=Lobster|Shadows+Into+Light' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="http://59.127.185.55/semantic/packaged/css/semantic.css">
  <style type="text/css">
    html { 
      background: url(http://59.127.185.55/alf456.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

  #alf {
    color: pink;
    font-family: 'Lobster', cursive;
    font-size:33px;}

 #company {
    color: green;
    font-family: 'Shadows Into Light', cursive;
    font-size:28px;}

 #days {
    color: black;
    font-family: 'Shadows Into Light', cursive;
    font-size:18px;}
  </style>
  <script src="http://59.127.185.55/semantic/packaged/jsvascript/semantic.js"></script>


    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Date', 'Price', 'Up', 'Down'], 


          ['-10', {{stock.get_result(10)[1]}},{{stock.get_result(10)[2]}},{{stock.get_result(10)[3]}}],
          ['-9',  {{stock.get_result(9)[1]}},{{stock.get_result(9)[2]}},{{stock.get_result(9)[3]}}],
          ['-8',  {{stock.get_result(8)[1]}},{{stock.get_result(8)[2]}},{{stock.get_result(8)[3]}}],
          ['-7',  {{stock.get_result(7)[1]}},{{stock.get_result(7)[2]}},{{stock.get_result(7)[3]}}],
          ['-6',  {{stock.get_result(6)[1]}},{{stock.get_result(6)[2]}},{{stock.get_result(6)[3]}}],
          ['-5',  {{stock.get_result(5)[1]}},{{stock.get_result(5)[2]}},{{stock.get_result(5)[3]}}],
          ['-4',  {{stock.get_result(4)[1]}},{{stock.get_result(4)[2]}},{{stock.get_result(4)[3]}}],
          ['-3',  {{stock.get_result(3)[1]}},{{stock.get_result(3)[2]}},{{stock.get_result(3)[3]}}],
          ['-2',  {{stock.get_result(2)[1]}},{{stock.get_result(2)[2]}},{{stock.get_result(2)[3]}}],
          ['-1', {{stock.get_result(1)[1]}},{{stock.get_result(1)[2]}},{{stock.get_result(1)[3]}}],
          ['Last Open Day', {{stock.get_result(0)[1]}},{{stock.get_result(0)[2]}},{{stock.get_result(0)[3]}}]


        ]);

        var options = {
          title: ' ',
          hAxis: {title: 'Passed Ten Open Days',  titleTextStyle: {color: '#566'}},
          vAxis: {minValue: {{stock.get_result(4)[3]}}}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>


<title>小強是天才小烏龜</title>


</head>



  {% block body %}

<div id="alf" > 1u04w94jp6fu/ Zj6 Tunnel </div> 
<div class="ui piled segment">
    <div id="company"> Company: {{stock.get_stock_id()}} ( {{stock.get_stock_name()}} ) </div>
    <div id='days'> From {{stock.get_result(0)[0]}} to {{stock.get_result(10)[0]}} </div>

</div>

<div class="ui grid">


  <div class="five wide column">
    <div class="ui segment">

        <table class="ui inverted green table segment">

          <thead>
            <tr><th>Date</th>
            <th>BuySignal</th>
            <th>SellSignal</th>
          </tr></thead>
          <tbody>
            {% for s in stock.get_alerts(11) %}
            <tr>
              <td>{{s[0]}}</td>
              <td>{{s[1]}}</td>
              <td>{{s[2]}}</td>
            </tr>
            {% endfor %}

          </tbody>
          <tfoot>
          </tr></tfoot>
        </table>
      </div>
    </div>
  <div class="ten wide column">
    <div class="ui segment">

       <div id="chart_div" style="width: 100%; height: 500px;"></div>

      </div>
    </div>

  
  </div>







<!--iframe src="http://docs.google.com/gview?url=http://www.twse.com.tw/pdf/ch/{{stock.get_stock_id()}}_ch.pdf&embedded=true" style="width:718px; height:700px;" frameborder="0"></iframe-->


<div class= "ui grid">
  <div class="ten wide column">
    <div class="ui segment">
<table class="ui collapsing table segment">
  <thead>
    <tr><th>Name</th>
    <th>Status</th>
    <th>Notes</th>
    <th>Notes</th>
    <th>Notes</th>
    <th>Notes</th>
    <th>Notes</th>
    <th>Notes</th>
    <th>Notes</th>
  </tr></thead>
  <tbody>
    {% for s in stock.recent_data_alf(30) %}
    <tr>
      <td>{{s[0]}}</td>
      <td>{{s[1]}}</td>
      <td>{{s[2]}}</td>
      <td>{{s[3]}}</td>
      <td>{{s[4]}}</td>
      <td>{{s[5]}}</td>
      <td>{{s[6]}}</td>
      <td>{{s[7]}}</td>
      <td>{{s[8]}}</td>
    </tr>
    {% endfor %}

  </tbody>
  <tfoot>
    <tr><th>{{stock.get_average(30)}}</th>
    <th>{{stock.get_std(30)}}</th>
    <th>{{stock.Up()}}</th>
    <th>{{stock.Dn()}}</th>
    <th></th>
  </tr></tfoot>
</table>
      </div>
  </div>
<div class="two wide column">
    <div class="ui segment">
    <script type="text/javascript" src="http://js1.bloggerads.net/showads.aspx?blogid=20140619000022&amp;charset=utf-8"></script>
      </div>
  </div>


</div>


 {% endblock %}


 
<!--div class="ui compact menu">

  
    <a class="item">
    <i ></i> Refresh (Run)  
    </a>


    <a class="item">
    <i ></i> All List   
    </a>

  <a class="item">
    <i></i> Buy Signal
    <div class="floating ui red label">22</div>
  </a>
  <a class="item">
    <i ></i> Sell Signal
    <div class="floating ui teal label">22</div>
 </a>

   <div class="item">
    <div class="ui small icon input">
      <input type="text" placeholder="Search Stock...">
      <i class="search icon"></i>
    </div>
  </div>
  
</div-->

<!--                                          -->

<iframe src="http://docs.google.com/gview?url=http://www.twse.com.tw/pdf/ch/{{stock.get_stock_id()}}_ch.pdf&embedded=true" style="width:718px; height:700px;" frameborder="0"></iframe>
</html>